<div>
  <link rel="stylesheet" href="./../../static/css/regist-site-form.css">
</div>

<body>
  <div class="location">
    <form action="" method="POST">
      {% csrf_token%}
      <div class="inputs">
        <label class="label">使用教材</label>
        <input class="input_form" type="text" name="text">
      </div>
      <div class="inputs">
        <label class="label">学習時間(分)</label>
        <input class="input_form" required="required" type="number" name="time">
      </div>
      <div class="inputs">
        <label class="label">分類</label>
        <input class="input_form" type="text" name="category">
      </div>
      <div class="btn-area">
        <input type="submit" value="送信">
      </div>
    </form>
  </div>
</body>
