<div>
  <link rel="stylesheet" href="./../../static/css/regist-site-form.css">
</div>

<body>
  <div class="location">
    <ul id="nav">
      <li style="border-radius: 10px 0px 0px 10px;"><a href="{% url 'studyapp:studylog'%}">追加</a></li>
      <li style="border-radius: 0px 10px 10px 0px;"><a href="#">編集</a></li>
    </ul>
    <form action="" method="POST">
      {% csrf_token%}
      <div class="inputs">
        <label class="label">日付</label>
        <input id="today" class="input_form" type="date" name="date">
      </div>
      <div class="inputs">
        <label class="label">分類</label>
        <input class="input_form" type="text" name="category">
      </div>
      <div class="inputs">
        <label class="label">学習時間(分)</label>
        <input class="input_form" required="required" type="number" name="time">
      </div>
      <div class="btn-area">
        <input type="submit" value="送信">
        <button style="background-color: rgba(0,0,0,0); border: none;">
          <a href="{% url 'studyapp:home %}"></a>
          <input style="background-color: #cbcccb;" type="submit" value="戻る">
        </button>
      </div>
    </form>
  </div>

  <script>
    var today = new Date();
    today.setDate(today.getDate());
    var yyyy = today.getFullYear();
    var mm = ("0" + (today.getMonth() + 1)).slice(-2);
    var dd = ("0" + today.getDate()).slice(-2);
    document.getElementById("today").value = yyyy + '-' + mm + '-' + dd;
  </script>
</body>
