<head>
  <link rel="stylesheet" href="./../../static/css/sigin-in.css">
</head>

<body>
  <div class="form-wrapper">
    <h1>ユーザー確認</h1>
    <form>
      <div class="form-item">
        <label for="Create"></label>
        <input name="Create" required="required" placeholder="パスワードを入力してください"></input>
      </div>
      <div class="form-item">
        <label for="Check"></label>
        <input name="Check" required="required" placeholder="確認用に再度パスワードを入力してください"></input>
      </div>
      <div class="button-panel">
        <a href="./home-after-login.html">
          <input type="submit" class="button" title="Create new password" value="新しいパスワードを作る"></input>
        </a>
      </div>
    </form>
    <div class="form-footer">
    </div>
  </div>
</body>