<head>
  <link rel="stylesheet" href="./../static/css/sigin-in.css">
</head>
<body>
  <div class="form-wrapper">
    <h1>パスワード作製</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-item">
        <label for="password"></label>
        <input name="password" required="required" placeholder="新しいパスワード"></input>
      </div>
      <div class="form-item">
        <label for="password"></label>
        <input type="password" name="password" required="required" placeholder="確認"><input>
      </div>
      <div class="button-panel">
        <input type="submit" class="button" title="Create new password" value="パスワード更新"></input>
      </div>
    </form>
    <div class="form-footer">
    </div>
  </div>
</body>