<head>
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="./../../static/css/edit_studylog.css">
  <script src="https://kit.fontawesome.com/330fa5bd85.js" crossorigin="anonymous"></script>
</head>


{% extends 'content/base.html' %}
<body>
  <!--ユーザーの要録サイト-->
  <div class="location">
    <ul id="nav">
      <li style="border-radius: 10px 0px 0px 10px;"><a href="{% url 'studyapp:studylog' %}">追加</a></li>
      <li style="border-radius: 0px 10px 10px 0px;"><a href="{% url %}">編集</a></li>
      <li style="background-color:#fff; padding-left: 30%;">
        <form class="search_regist_date" action="" method="GET">
          <input class="select_date" type="date">
          <button class="bargraph-date-submit" type="submit" style="background-color: rgba(0,0,0,0); border: none;">
            <i class="fas fa-sync" style="color:#000;"></i>
          </button>
        </form>
      </li>
    </ul>
    <div class="registe-site-style">
      <table id="registe-site-table">
        <tr>
          <th>分類</th>
          <th>勉強時間</th>
          <th>削除/編集</th>
        </tr>
        {% for content in contents %}
        <tr>
          <td>{{content.title}}</td>
          <td>{{content.category}}</td>
          <td>
            <form action="{% url 'studyapp:delete_site' content.id %}" method="POST" class="delete_usrsite_form">
              {% csrf_token %}
              <button class="delete_site_button" type="submit" onclick="return confirm('本当に削除しますか？');">
                <i class="fa fa-trash-o" style="color:red;"></i>
              </button>
            </form>/
            <button class="edit_site_button" type="submit">
              <a href="{% url 'studyapp:edit_site' content.id %}" style="color: black;">
                <i class="fa fa-edit"></i>
              </a>
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="btn-area">
      <button style="background-color: rgba(0,0,0,0); border: none;">
        <a href="{% url 'studyapp:home %}"></a>
        <input style="background-color: #cbcccb;" type="submit" value="戻る">
      </button>
    </div>
  </div>
{% endblock %}
</body>