<div>
  <link rel="stylesheet" href="./../../static/css/regist-site-form.css">
</div>

<body>
  <div class="location">
    <ul id="nav">
      <li style="border-radius: 10px 0px 0px 10px;"><a href="{% url 'studyapp:studylog'%}">追加</a></li>
      <li style="border-radius: 0px 10px 10px 0px;"><a href="{% url 'studyapp:edit_studylog'%}">編集</a></li>
    </ul>
    <form action="" method="POST">
      {% csrf_token%}
      <div class="inputs">
        <label class="label">日付</label>
        <input id="today" class="input_form" type="date" name="date" required="required" value="{{studylog.regist_date}}">
      </div>
      <div class="inputs">
        <label class="label">分類</label>
        <input class="input_form" type="text" name="category" value="{{studylog.category}}">
      </div>
      <div class="inputs">
        <label class="label">学習時間(分)</label>
        <input class="input_form" type="number" name="time" value="{{studylog.time}}">
      </div>
      <div class="btn-area">
        <input type="submit" value="再登録">
        <button class="return_home">
          <a href="{% url 'studyapp:edit_studylog' %}"></a>
          <input style="background-color: #cbcccb;" type="submit" value="戻る">
        </button>
      </div>
    </form>'
  </div>
</body>