<head>
  <link rel="stylesheet" href="./../../static/css/bootstrap.css">
  <link rel="stylesheet" href="./../../static/css/base.css">
</head>
<body>
  <style>
    .title{
      font-weight: bold;
    }
    .Password_reset_sent{
      width: 73%;
      display: block;
      margin-left:24%;
      margin-top:25%;
      transform: translate(0%,-50%);
    }
  </style>
  <!--base.html-->
  <header class="header" role="banner">
    <h1 class="logo">
      <span>STUDYAPP</span>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
          <li><a href="{% url 'studyapp:login' %}">ログイン・会員登録</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!--end base.html-->

  <!--Password reset sent-->
  <div class="Password_reset_sent">
    <h2 class="title">パスワード変更用のメールを送信しました</h2>
    <hr>
    <p> 入力したメールアドレスよりアカウントの確認ができましたので，パスワード再設定用のメールを送信しました。<br> メールが届かない場合は、入力したメールアドレスに誤りがないか確認、もしくは，迷惑メールフォルダを確認してください。</p>
  </div>