<div>
  <link rel="stylesheet" href="./../../static/css/regist-site-form.css">
</div>

<body>
  <div class="location">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="inputs">
        <label class="label">url</label>
        <input class="input_form" type="url" name="url" value="{{ registsite.url }}">
      </div>
      <div class="inputs">
        <label class="label">サイト名</label>
        <input class="input_form" type="text" name="name" value="{{ registsite.title}}">
      </div>
      <div class="inputs">
        <label class="label">分類</label>
        <input class="input_form" type="text" name="category" value="{{ registsite.category}}">
      </div>
      <div class="btn-area">
        <input type="submit" value="送信">
        <div class="return">
          <a class="return_link" href="{% url 'studyapp:registsite' %}">戻る</a>
        </div>
      </div>
    </form>
  </div>
</body>

