<head>
  <link rel="stylesheet" href="./../../static/css/sigin-in.css">
</head>
<body>

  <div class="form-wrapper">
    <h1>会員登録</h1>
    <form action="" method="POST">
      {% csrf_token%}
      <div class="form-item">
        <input name="username" required="required" placeholder="ユーザー名"></input>
      </div>
      <div class="form-item">
        <input type="email" name="email" required="required" placeholder="Email"></input>
      </div>
      <div class="form-item">
        <input type="password" name="password" required="required" placeholder="パスワード"></input>
      </div>
      <div class="button-panel">
        <a href="#">
          <input type="submit" class="button" title="regist" value="get start"></input>
        </a>
      </div>
    </form>
    <div class="form-footer">
    </div>
  </div>
</body>