{% load static %}

<head>
  <link rel="stylesheet" href="./../../static/css/sigin-in.css">
</head>

<body>
  <div class="form-wrapper">
    <h1>Sign In</h1>
    <form method="POST">
      {% csrf_token%}
      {% for field in form %}
      <div class="form-item">
        {{ field }}
      </div>
      {% endfor %}
      <div class="button-panel">
        <a href="{% url 'studyapp:home' %}">
          <input type="submit" class="button" title="Sign In" value="Sign In"></input>
        </a>
      </div>
    </form>
    <div class="form-footer">
      <p><a href="{% url 'studyapp:create_user' %}">アカウント作成</a></p>
      <p><a href="{% url 'studyapp:password'%}">パスワードを忘れましたか？</a></p>
    </div>
  </div>
</body>