@import url("https://fonts.googleapis.com/css?family=Overpass");
.bargraph-one-style {
  box-sizing: border-box;
  font: normal 14px/1.5 "Overpass", sans-serif;
}


.bargraph-detail {
  color: #fff;
  font-size: 18px;
  float: left;
  padding: 0 40px;
  text-transform: uppercase;
}

.main-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.wrapper {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: none;
  width: 870px;
}

.cards {
  background: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 30px 40px;
}

.listen-wrap {
  overflow: hidden;
}
.listen-wrap ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.listen-wrap ul li {
  border-right: 1px solid #eee;
  color: #8e8e8e;
  display: inline-block;
  list-style: none;
  padding: 0 30px;
  text-align: left;
  text-transform: uppercase;
}
.listen-wrap ul li:first-child {
  padding-left: 0;
}
.listen-wrap ul li:last-child {
  border-right: 0;
  padding-right: 0;
}
.listen-wrap ul li span {
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}

.count {
  color: #4a4a4a;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -4px;
  line-height: 46px !important;
  margin-right: 10px;
}

.chart-wrapper {
  background: #2884B0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  clear: both;
  padding: 20px 0 10px;
}

text {
  font-size: 12px;
  fill: #A7B2EB;
}

.axis path,
.axis line,
.gridline line {
  fill: none;
  stroke: #fff;
  opacity: 0.1;
  shape-rendering: crispEdges;
}

.line {
  stroke: #7184F5;
  stroke-width: 3px;
  fill: none;
}

path.domain {
  fill: none;
  opacity: 0.1;
}

div.tooltip {
  color: #4a4a4a;
  position: absolute;
  text-align: center;
  padding: 3px 6px;
  font-size: 12px;
  background: #fff;
  border-radius: 4px;
  pointer-events: none;
}

.tick text {
  font-size: 10px;
}

.vbroadcast-legend {
  float: right;
  margin-right: 40px;
  margin-top: 16px;
}
.vbroadcast-legend li {
  color: #fff;
  font-size: 13px;
  float: left;
  list-style: none;
  margin-left: 20px;
  padding-left: 18px;
  position: relative;
}
.vbroadcast-legend li:before {
  content: "";
  height: 12px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 12px;
}
.vbroadcast-legend li.total:before {
  background: #50e3c2;
}