#registe-site-table th,#registe-site-table td {
  padding: 15px;
}
#registe-site-table tr:nth-child(odd) {
  background: #E7EBE9;
}
#registe-site-table tr:nth-child(even) {
  background: #F8F8F8;
}
#registe-site-table tr:first-child {
  background: #ff96a3;
}
#registe-site-table th {
  color: #fff;
  border-bottom: solid 1px #ff96a3;
}
#registe-site-table td {
  color: #4A6458;
  border-bottom: solid 1px #ff96a3;
}
