.timer_location{
    position: relative;
    top: 45%;
    left: calc(130px + 50%);
    transform: translate(-50%,0%);
}

.timer_design {
    color: #000;
}

.timerbutton {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background: #000;
    color: white;
    cursor: pointer;
    outline: none;
}

#stopwatch {
    font-size: 100px;
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
}
#buttons {
    position: absolute;
    top: 55%;
    left: 48.4%;
    transform: translate(-50%, 200%);
}
#buttons li {
    display: inline;
    padding-left: 10px;
}