<div>
  <link rel="stylesheet" href="./../../content/static/css/regist-site-form.css">
</div>

<body>
  <di class="location">
    <form>
      <div class="inputs">
        <label class="label">url</label>
        <input class="input_form" type="text" name="url">
      </div>
      <div class="inputs">
        <label class="label">サイト名</label>
        <input class="input_form" type="text" name="name">
      </div>
      <div class="inputs">
        <label class="label">分類</label>
        <input class="input_form" type="text" name="category">
      </div>
      <div class="btn-area">
        <input type="reset" value="リセット"><input type="submit" value="送信">
      </div>
    </form>
  </div>
</body>