{% load staticfiles %}

<head>
  <link rel="stylesheet" href="./../static/css/sigin-in.css">
</head>
<body>
  <div class="form-wrapper">
    <h1>Sign In</h1>
    <form method="POST">
      {% csrf_token%}
      {% for field in forms %}
      <div class="form-item">
        {% field %}
      </div>
      {% endform%}
      <div class="form-item">
        <label for="username"></label>
        <input name="username" required="required" placeholder="ユーザー名"></input>
      </div>
      <div class="form-item">
        <label for="password"></label>
        <input type="password" name="password" required="required" placeholder="パスワード"></input>
      </div>
      <div class="button-panel">
        <a href="./home-after-login.html">
          <input type="submit" class="button" title="Sign In" value="Sign In"></input>
        </a>
      </div>
    </form>
    <div class="form-footer">
      <p><a href="./RegistUser.html">アカウント作成</a></p>
      <p><a href="./ForgetPassword.html">パスワードを忘れましたか？</a></p>
    </div>
  </div>
</body>